/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ========================================
  See Borders
  ========================================
*/
/*
section {
	border: 1px solid yellow;
}

.container {
	border: 1px solid green;
}

.grid {
	border: 1px solid red;
}

.col-1-3,
.col-2-3 {
	border: 1px solid blue;
}

/*
  ========================================
  Home
  ========================================
*/

body {
	background-color: #fff;
	background-image: url("../images/swirl_pattern.png");
	background-repeat: repeat;
	font-family: 'Orbitron', sans-serif;
}

header {
	background-color: #fff;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 18px;
}

section {
	background-color: #60a5f1;
	padding: 12px;
	border-radius: 5px;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
	box-sizing: border-box;
}

.container,
.grid {
	margin: 0 auto;
	width: 960px;
}

.container {
	padding: 0 30px;
}

.col-1-3 {
	width: 33.33%;
}

.col-2-3 {
	width: 66.66%;
}

.col-1-3,
.col-2-3 {
	display: inline-block;
	vertical-align: top;
}

.grid,
.col-1-3,
.col-2-3 {
	padding: 0 15px;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Typography
  ========================================
*/

h1 {
	margin-bottom: 22px;
}

h2 {
	margin-bottom: 10px;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
	border-radius 5px;
	display: inline-block;
	margin: 0;
}

.btn-twit {
	border: 1px solid #1773d9;
	padding: 10px 30px;
}

/*
  ========================================
  Logo
  ========================================
*/
.logo {
	padding-top: 10px;
}
.logo a{
	text-decoration: none;
	color: #1773d9;
}

/*
  ========================================
  Profile
  ========================================
*/

.user-info {
	margin: 15px 0;
}
.user-info img {
	border-radius: 50%;
	background-color: #fff;
}

.visitor {
	display: inline-block;
}

.visitor h2 {
	text-align: center;
}
.user-stats {
	position: aboslute;
	bottom: 0;
	right: 0;
	display: inline-block;
	text-align: right;
	margin-left: 22px;
}

.following-stats {
	margin-bottom: 10px;
}

/*
  ========================================
  Twit it
  ========================================
*/

.twit-it {
	margin-top: 15px;
}

/*
  ========================================
  Posted Twits
  ========================================
*/

.posted-twits {
	margin-top: 15px;
}

.display-twits {
	font-family: sans-serif;
}